apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  namespace: airbnb
  labels:
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: 247785678011.dkr.ecr.us-east-2.amazonaws.com/payment:1.0
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/payments'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/payments'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5